<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <title>Servidores</title>
</head>
<body>
    <div class="container is-fullhd">
        <h1 class="title is-danger has-text-centered has-text-grey-lighter has-background-black has-text-weight-bold is-spaced">Información de los servidores</h1>
        <li class="$subtitle-strong-color">Servidor 1</li>
        <div class="notification is-link" id="box1">
            ¿Funciona?
          </div>
        <li class="$subtitle-strong-color">Servidor 2</li>
        <div class="notification is-link" id="box2">
          ¿Funciona?
          </div>
    </div>
</body>
    <div class="container is-widescreen">
        <a class="button is-danger is-outlined is-large " id="reiServer1">
          Reiniciar Servidor 1
        </a>
        <a class="button is-info is-outlined is-large " id = "reiServer2">
            Reiniciar Servidor 2
          </a>
    </div>
</html>